// COLORS
$color-White: hsl(0, 0%, 100%);
$color-Black: hsl(0, 0%, 0%);
$color-Dark-Gray: hsl(0, 0%, 55%);
$color-Very-Dark-Gray: hsl(0, 0%, 41%);


// FONT
$default-font-size: 1.5rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;